/* 3. Style the button */

/* 
    Basic styling for the button:
    - Set background color to Hot Pink (#FF69B4)
    - Make the text color white
    - Add some padding for a better look
    - Set the font size to 16px
    - Make the corners rounded 
    - Set the font size
*/
button {
    font-size: 5px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s, font-size 0.3s;
}

/* 
    Styling for the hover state:
    - Change the background color to Dark Magenta (#8B008B)
    - Set the font size to 18px
*/
button:hover {
    background-color: #8B008B;
    font-size: 18px;
}

button:active {
    transform: scale(0.95);
}
